@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat',
    sans-serif;
}
#title{
    background-color: #ff4c68;
    color: #fff;
}
h1{
    
    size: 2rem;
    line-height: 1.4;
    letter-spacing: .2rem;
    margin-bottom: 2rem;
}
.container-fluid{
padding: 3% 15%;
}
.navbar-brand{
    size: 3rem;
    letter-spacing: .1rem;
    text-transform: lowercase;
    font-family: 'Ubuntu',sans-serif;
}
.navbar{
    padding-bottom: 4.5rem;
}
.nav-item{
padding: 0 18px;
}
.nav-link{
    font-size: 1.2;
    font-family: 'Ubuntu',sans-serif;
}
.download-btn{
    margin: 5% 3% 5% 0;
}

.iphone-img{
    width: 60%;
    transform: rotate(30deg);
}
#features{
    padding: 7% 15%;
    background-color: #fff;
}
.feature{
    padding: 4.5%;
    text-align: center;
    font-family: 'Montserrat',
    sans-serif;
    font-size: 1.4rem;
}
p{
    font-family: 'Ubuntu',
    sans-serif;
    font-size: 1.1rem;
    color: #8f8f8f;
}
.feature-icon{
    margin-bottom: 1rem;
    font-size: 3rem;
    color: #ef8172;
}
.feature-icon:hover{
    color: #ff4c68;
}

/* testimonials */
#testimonials{
    
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}
h2{
    font-family: 'Montserrat',
    sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}
.dog-profile, .testimonial-image{
    border-radius: 100%;
    width: 15%;
    margin: 20px;
}
#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}
.logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;

}
/* pricing */
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-col{
    padding: 3% 3%;
}
/* viewport 1028 px or smaller */
@media (max-width:1028px ){
    #title{
        text-align: center;
    } 
    .iphone-img{
        position: static;
        transform: rotate(0);
    }
}
/* call to action */
#cta{
    text-align: center;
    background: #ff4c68;
    padding: 7% 10%;
}
.h3-cta{
    font-family: 'Montserrat',
    sans-serif;
    font-size: 2.5rem;
    line-height: 1;
    letter-spacing: 1.2;
    margin-top: 2rem;
    color: #fff;
}
/* footer */
#footer{
    padding: 7% 10%;
    text-align: center;
}
.footer-icon{
    margin: 20px 10px;
}